.side_bar
  .side_bar__usename
    = current_user.name
    .side_bar__usename__top_items
      = link_to new_group_path, class: "side_bar__usename__top_items__btn" do
        = icon('fas', 'edit')
      = link_to "#", class: "side_bar__usename__top_items__btn" do
        = icon('fas', 'cog')
  .side_bar__group_list
    - current_user.groups.each do |group|
      .group
        = link_to '#' , class: "group__btn" do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。
  


  